@import "vars.css";

p.last::after {
    width: auto;
    height: auto;
    opacity: 1;
    content: var(--last-txt);
}

p.last {
    width: fit-content;
    height: fit-content;

    opacity: 1;
    color: white;
    font-size: 50vh;
}

.last-text {
    font-size: 3vh;
    font-family: Asdonuts;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-img {
    position: relative;
    max-width: calc(100vh - var(--border-size)*2);
    object-fit: cover;
    background: var(--img);
}

.border {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    border-radius: var(--border-size);
    background-color: var(--color-quinary);
    border: var(--color-quinary) var(--border-size) solid;
}

.pig {
    z-index: 1;

    width: 150px;
    height: 150px;

    animation: rotate 10s ease-in-out infinite;
}

.cute-pig {
    top: 15px;
    right: 180px;
    z-index: 1;
    width: 5px;
    height: 5px;
    position: absolute;
}

.cute-pig.alt {
    left: 180px;
    transform: scaleX(-1);
}

.window-name::after {
    content: var(--window-name);
}

.pigs {
    height: 80px;
}

.window-name {
    opacity: 1;
    margin-left: 2vw;

    color: white;
    font-size: 60px;
    display: flex;
    flex-wrap: wrap;

    text-align: left;
    align-content: center;
    text-shadow: 2px 0 var(--color-quaternary), -2px 0 var(--color-quaternary),
                0 2px var(--color-quaternary), 0 -2px var(--color-quaternary),
                1px 1px var(--color-quaternary), -1px -1px var(--color-quaternary),
                1px -1px var(--color-quaternary), -1px 1px var(--color-quaternary);
}

.action {
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--color-quinary);

    margin: 0 10px 0 10px;
    border-radius: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><circle cx="50%" cy="50%" r="50%" fill="black"/></svg>');
}

.actions-container {
    width: fit-content;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.taskbar {
    overflow: visible;
    height: var(--taskbar-size);
    width: 100%;

    background-color: var(--color-primary);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.taskbar.secondary {
    background-color: var(--color-secondary);
}

.window-border {
    width: 100%;
    height: 100%;
    display: flex;
    border-spacing: 0cap;
    box-sizing: border-box;
    border-radius: var(--border-size);
    border: var(--color-primary) var(--border-size) solid;
}

.window-border.secondary {
    position: absolute;
    top: calc(var(--border-size) * 4);
    height: calc(100% - 80px);
    border: var(--color-secondary) var(--border-size) solid;
    background-color: #ffffff99;
}

.social-img {
    height: 90%;
    width: 15%;
}

.social-text {
    position: relative;
    width: fit-content;
    height: fit-content;
    font-size: 350%;
    font-family: Asdonuts;
    color: var(--color-quinary);
    
    opacity: 1;
}

.social {
    width: calc(100% / 4 + 1%);
    height: calc(100% * 0.85);

    position: relative;
    box-sizing: border-box;
    background-color: white;

    box-sizing: border-box;
    border-radius: var(--border-size);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.socials {
    bottom: 0;
    left: calc(var(--border-div-size) / 2);
    width: calc(100% - var(--border-div-size));
    height: 15vh;

    position: fixed;

    box-sizing: border-box;
    border-radius: 50px;
    border: var(--color-quinary) var(--border-size) solid;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;

    transform: translateY(110%);
    animation: slide-up 100s ease-in-out infinite;
}

.camera-border {
    position: relative;
    border-radius: 50px;
    box-sizing: border-box;
    border: var(--color-quinary) var(--border-size) solid;

    left: calc(var(--border-div-size) / 2);
    width: calc(100vw - var(--border-div-size));
    height: calc((100vw - var(--border-div-size)) * 9/16);
}

.text {
    font-family: Asdonuts;
}

p {
    font-family: Asdonuts;
}

p.social-text,
p.last,
p.word {
    opacity: 0;

    font-size: 1500%;
    font-family: Asdonuts;

    color: var(--color-quinary);
    text-shadow: 2px 0 var(--color-dark), -2px 0 var(--color-dark),
                0 2px var(--color-dark), 0 -2px var(--color-dark),
                1px 1px var(--color-dark), -1px -1px var(--color-dark),
                1px -1px var(--color-dark), -1px 1px var(--color-dark);
}

.letter {
    width: fit-content;
    height: fit-content;
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.text-container {
    --width: 60%;
    --height: 50%;

    position: absolute;
    width: var(--width);
    height: var(--height);
    top: calc(50% - calc(var(--height) / 2));
    left: calc(35% - calc(var(--width) / 2));

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.wave {
    --pos: 40%;
    --size: 150px;
    --R: calc(var(--size) * 1.28);

    left: calc(100% - var(--pos));
    width: var(--pos);
    height: calc(100% + calc(var(--size) * 4));
    position: fixed;
    animation: waveAnimation 2s cubic-bezier(0.4, 0.35, 0.35, 0.4) forwards infinite;

    mask:
        radial-gradient(var(--R) at calc(1.8*var(--size)) 50%, #000 99%, #0000 101%) 0 calc(50% - 2*var(--size))/100% calc(4*var(--size)),
        radial-gradient(var(--R) at calc(-.8*var(--size)) 50%, #0000 99%, #000 101%) var(--size) 50%/100% calc(4*var(--size)) repeat-y;
    -webkit-mask:
        radial-gradient(var(--R) at calc(1.8*var(--size)) 50%, #000 99%, #0000 101%) 0 calc(50% - 2*var(--size))/100% calc(4*var(--size)),
        radial-gradient(var(--R) at calc(-.8*var(--size)) 50%, #0000 99%, #000 101%) var(--size) 50%/100% calc(4*var(--size)) repeat-y;
}

.img-bg {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 200%;
    background-attachment: fixed;
    background-image: url("../assets/png/Background.png");
    animation: backgroundAnimation 15s linear forwards infinite;
}

.blurred {
    filter: blur(2px);
}

.img-bg.second {
    top: 0;
    left: 0;
    border-radius: 30px;
    filter: blur(0) invert(1);
}

.color-bg {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    mix-blend-mode: lighten;
    background: linear-gradient(45deg, var(--color-quinary), var(--color-quaternary));
}

.color-bg.second {
    mix-blend-mode: darken;
    filter: invert(1) contrast(1.5);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
}

@keyframes rotate {
    0% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}

@keyframes slide-up {
    10%, 90% {
        transform: translateY(110%);
    }
    0%, 9%, 91%, 100% {
        transform: translateY(0%);
    }
}

@keyframes shadows {
    0% {
        text-shadow: none;
    }

    10% {
        text-shadow: 3px 3px 0 var(--color-secondary);
    }

    20% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary);
    }

    30% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }

    40% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    50% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    60% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    70% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }

    80% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary);
    }

    90% {
        text-shadow: 3px 3px 0 var(--color-secondary);
    }

    100% {
        text-shadow: none;
    }
}

@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }

    40% {
        transform: translate(-12px, -12px);
    }

    50% {
        transform: translate(-12px, -12px);
    }

    60% {
        transform: translate(-12px, -12px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes backgroundAnimation {
    from { background-position: 0 100%; }
    to { background-position: 100% 0%; }
}

@keyframes fadeAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes waveAnimation {
    0% {
        top: calc(var(--size) * -4);
    }

    100% {
        top: 0%;
    }
}